.catalog{
    /* border: 2px red solid; */
    width: 100%;
    height: 100%;
}



.catalog_titles{
    width: 85%;
    margin: auto;
    padding: 10px;
    height: auto;
    color: antiquewhite;

}

.catalog_titles h1{
    font-size: 30px;
    margin-bottom: 10px;
}

.catalog_titles p {
    font-size: 20px;
    font-style: italic;
}

.catalog_content{
    
    margin-top: 10vh;
    background-color: #3c2c2cd3;
    padding: 20px;
    
}
.catalog_card_wrapper{
    /* border: 2px rgb(195, 255, 0) solid; */
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    gap: 25px 30px;
    flex-wrap: wrap;

}

.catalog_card{
    /* border: 2px green solid; */
    background-color: #F3F3DB;
    width: 13vw;
    height: 30vh;
    padding: 5px;
    padding-top: 10px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
}

.catalog_card img{
    object-fit: cover;
    width: 95%;
    height:75%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    border: 3px #7F3538 solid ;
}

.catalog_card p {
    padding: 15px;
    color: #7A373F;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 1200px) and (min-width: 850px){
    .catalog_card{
        height: 25vh;
        width: 23vw;
    }
}

@media screen and (max-width: 850px) and (min-width: 430px){
    .catalog_content{
        margin-top: 5vh;
        
    }
    .catalog_card_wrapper{
        width: 100%;
        gap: 15px 10px;
        justify-content: center;
        
    }
    .catalog_card{
        max-height: 25vh;
        width: 26vw;
    }

    .catalog_card img{
        height: 70%;
    }
    .catalog_card p {
        padding: 10px;
    }
}


@media screen and (max-width: 430px){
    .catalog_titles p {
        font-size: 15px;
    }
    .catalog_content{
        margin-top: 5vh;
        
    }
    .catalog_card_wrapper{
        width: 100%;
        gap: 10px;
        justify-content: center;
    }
    
    .catalog_card{
        height: 23vh;
        width: 35vw;
        /* min-width: 40%; */
    }

    .catalog_card img{
        height: 60%;
    }
    
    .catalog_card p {
        padding: 8px;
        font-size: 15px;
    }
}