#description_page{
    width: 100%;
    height: 95%;
    margin-top: 2em;
    /* border: green 1px solid; */
}


#details_wrapper{
    width: 75%;
    margin: auto;
    margin-bottom: 1rem;
    background-color: #F3F3DB;
    border-radius: 15px;
    padding: 30px 15px;
}

.details_upper{
    /* border:  red 1px solid; */
    width: 95%;
    height: 65%;
    margin: auto;
    display: flex;
    gap: 2em;
}

.details_img_div{
    width: 50%;
    min-width: 30%;
    display: flex;

}

.details_img_div > img {
    border: #451415 solid 1px;
    border-radius: 5px;
    height: 90%;
    margin-left: auto;
    width: 100%;
}

.details_desription_titels{
    flex-grow: 1;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
}

.details_desription_titels > h1 {
    font-size: 60px;
    width: 85%;
    letter-spacing: 5px;
    color: #2A2624;
}

.details_desription_titels > p {
    font-size: 19px;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 3em;
    max-width: 80%;
    color: #7f433c;
}

.details_desription_titels > a {
    font-size: 19px;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 1em;
    color: #3E3B39;
    text-decoration: none;
    width: 50%;
}

.details_tags{
    height: 10%;
}

.details_tags > button {
    width: 15%;
    height: 90%;
    margin-right: 1em;
    border-radius: 30px;
    background-color: #FF454F;
    border: #FF454F 3px solid;
    color: #DFDEC9;
    font-weight: 500;
    font-size: 15px;
}

.details_tags button:nth-child(2){
    background-color: transparent;
    color: #FF454F;
}

.details_bottom{
    width: 98%;
    height: 35%;
    background-color: #ab7b7d33;
    border-radius: 10px;
    margin: auto;
    display: flex;
    padding-top: 1em;
    padding-bottom: 1.5em;
}

.details_bottom h1 {
    color: #E62E38;
    padding: 0.7rem 2rem;
}

.details_ingredients{
    width: 45%;
    /* border: blue 1px solid; */
}

.details_ingredients ul {
    list-style: none;
}

.details_ingredients li {
    width: 90%;
    border-bottom: #7f3537ac 1px solid;
    font-size: 19px;
    padding: 10px;
}

.details_preparation{
    width: 50%;
}

.details_preparation ol li{
    margin-bottom: 10px;
}

.details_preparation ol li::marker{
    color: #7F3538;
    font-weight: 500;
}

.details_preparation p {
    border-left: 2px solid #7F3538;
    padding: 10px;
}


@media (max-width: 1024px){
    .details_img_div{
        width: 100%;
    }

    .details_img_div > img{
        height: 80%;
    }

    .details_desription_titels > h1{
        font-size: 50px;
        letter-spacing: 3px;
    }
    .details_desription_titels > p{
        font-size: 15px;
    }

    .details_desription_titels > a{
        font-size: 15px;
    }
    
    .details_tags > button{
        width: 20%;
        font-size: 10px;
        padding: 6px;
    }

    .details_upper{
        margin-bottom: 2rem;
    }

    .details_ingredients li{
        font-size: 15px;
    }

    .details_bottom h1{
        font-size: 20px;
    }
}


@media (max-width: 768px){
    #details_wrapper{
        width: 80%;
    }
    .details_desription_titels > h1{
        font-size: 30px;
    }

    .details_desription_titels > p{
        margin-top: 0.5rem;
        font-size: 13px;
    }

    .details_desription_titels > a{
        font-size: 13px;
    }

    .details_img_div{
        min-width: 45%;
    }

    .details_tags > button{
        width: 35%;
        font-size: 12px;
        line-height: 0px;
        padding: 10px;
    }
}


@media (max-width: 425px){
    .details_upper{
        flex-wrap: wrap;
        gap: 10px;
    }
    .details_img_div{
        height: fit-content;
    }
    .details_desription_titels{
        margin-top: 2em;
    }
    .details_desription_titels > h1{
        width: 90%;
    }

    .details_bottom{
        flex-wrap: wrap;
        flex-direction: column;
        gap: 2rem;
    }

    .details_ingredients{
        width: 80%;
    }

    .details_preparation{
        width: 90%;
    }

    .details_preparation ol{
        margin-top: 1rem;
    }

}