#pick_ingredients_page{
    width: 95%;
    margin: auto;
    height: fit-content;
    padding-bottom: 2rem;
}

#pick_ingredients_page form{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    width: 80%;
}

.ingredienst_div{
    border: 2px solid #EDB47F;
    border-radius: 5px;
    width: 40%;
    padding: 10px;
}

.ingredienst_div:nth-child(3n){
    flex-basis: 81%;
}

.ingredienst_div:last-of-type{
    margin-right: 41%;
}

.ingredienst_div h2 {
    background-color: #EDB47F;
    width: 95%;
    margin: auto;
    margin-bottom: 1.5rem;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    font-weight: 400;
    font-size: 22px;
}

.ingredienst_div h3{
    width: 90%;
    margin: auto;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    color: #E7D8C3;
    border-bottom: #E7D8C3 1px solid;
    padding: 10px;
    margin-bottom: 1rem;
}

.svg_div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
    gap: 10px;
    padding: 5px;
}

.ingredient_button{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
}

.ingredienst_div:nth-child(3n) .ingredient_button{
    width: 10%;
}

.ingredient_button button{
    /* margin-right: auto; */
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    border: none;
    background-color: #E7D8C3;
    transition: transform 0.3s ease-out;
}

.ingredient_button button.selected{
    background-color: #cf7575;
}

.ingredient_button button:hover{
    transform: translateY(-5px);
}

.ingredient_button p {
    color: #E7D8C3;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    margin-top: 0.5rem;
}

#pick_ingredients_page form > button{
    background-color: #ff1d4acc;
    border: none;
    border-radius: 5px;
    height: 3rem;
    width: 45%;
    margin-top: 1rem;
    color: #efe4d9;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    box-shadow: 0 4px 8px  #ff1d4a5f;
    transition: transform 0.5s ease-out;
}

#pick_ingredients_page form > button:hover{
    transform: translateY(-5px);
}


@media (max-width: 1024px){
    #pick_ingredients_page form{
        width: 100%;
    }
    .ingredienst_div:nth-child(3n) p{
        font-size: 13px;
    }
}

@media (max-width: 768px){
    .ingredient_button button{
        width: 2.5rem;
        height: 2.5rem;
    }

    .ingredient_button p{
        font-size: 11px;
    }
    .ingredienst_div:nth-child(3n) p{
        font-size: 11px;
    }

    .ingredienst_div:nth-child(3n) .svg_div{
        gap: 15px;
    }
}

@media (max-width: 600px){
    #pick_ingredients_page{
        width: 100%;
    }
    #pick_ingredients_page form{
        width: 100%;
    }
    .ingredienst_div{
        width: 65%;
    }

    .ingredienst_div:nth-child(3n){
        flex-basis: 65%;
    }

    .ingredienst_div h2{
        font-size: 20px;
        padding: 10px;
    }

    .svg_div{
        gap: 17px;
        justify-content: center;

    }
    .ingredienst_div:nth-child(3n) .svg_div{
        gap: 40px;
    }

    .ingredienst_div:nth-child(3n) p{
        font-size: 10px;
    }

    .ingredienst_div:last-of-type{
        margin: 0%;
    }

    .ingredienst_div:last-of-type .svg_div{
        gap: 30px;
    }
}

@media (max-width: 320px){
    .svg_div{
        gap: 30px;

    }
    .ingredienst_div:last-of-type .svg_div{
        gap: 37px;
    }
}